SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="uinput-sample0", ENV{ID_INPUT_JOYSTICK}="0", ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0", ENV{ID_INPUT_KEY}="0", RUN+="/usr/bin/pi2jamma $env{DEVNAME}"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Pi2Jamma Player 1", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0"
SUBSYSTEM=="input", KERNEL=="event*", ACTION=="add", ATTRS{name}=="Pi2Jamma Player 2", ENV{ID_INPUT_JOYSTICK}="1", ENV{ID_INPUT_KEYBOARD}="0", ENV{ID_INPUT_KEY}="0"
